html, body {
	margin: 0;
	/* background-image: url('images/body.png'); */
	background-color: F3F3F3;
	border: none;
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 300;
	color: #555;
}

a {
	color: 06AFF2;
	text-decoration: none;
}

table {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 300;
	line-height: 1.7em;
}

div#header {
	width: 100%;
	height: 50px;
	/* position: fixed; */
	z-index: 20;
	margin-bottom: 5x;
	color: white;
	
	background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #222222 0%, #555555 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#555555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #222222 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #222222 0%,#555555 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #222222 0%,#555555 100%); /* IE10+ */
    background: linear-gradient(top,  #222222 0%,#555555 100%); /* W3C */ 
    
    background-color: #222222;
    border-bottom: 1px solid #999999;
}

div#immagine_header {
	position: relative;
	float: left;
	width: 119px;
	height: 44px;
	margin-top: 6px;
	margin-left: 16px;
}

div#menu_header {
	position: relative;
	float: right;
	right: 16px;
	margin-top: 23px;
}

div.voce_menu_header {
	position: relative;
	float: left;
	margin-left: 20px;
	font-size: small;
}

div.voce_menu_header a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

div#contenitore {
	/* border: 2px solid blue; */
}

div#footer {
	
}

div#intestazione_playlist {
	width: 90%;
	margin: 0 auto 0 auto;
	/* border-bottom: 1px solid #D7D7D7; */
	
}

div#contenitore_intestazione_playlist {
	/*cbackground-image: url('images/catalog_texture.jpg'); */
	background-color: #D7D7D7;
	width: 100%;
	margin-bottom: 20px;
}

div#playlist {
	/* position: relative; */
	float: left;
	width: 100%;
}

div.sequenza {
	width: 90%;
	border: 1px solid #D7D7D7;
	clear: both;
	border-radius: 3px; 
	-moz-border-radius: 3px; /* firefox */
	-webkit-border-radius: 3px; /* safari, chrome */
	padding: 5px 5px 5px 10px;
	color: #555555;
/*	margin: 0 auto; */
	margin: 10px auto 10px auto;
	background-color: #FFFFFF;
	min-height: 38px;
/*	float: left; */
	position: absolute;
	display: table;
	
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
}

div.sequenza_pausa {
	background-color: #d7d7d7;
}

span.intestazione_sequenza {
	position: relative;
	top: 5px;
}

span.intestazione_titolo_sequenza_interna {
	width: 300px;
	display: inline-block;
	padding-left: 20px;
}

.pulsante_disattivo {
	color: black;
	border: 1px solid black;
}

.pulsante_sinistra {
	display: inline-block;
/*    float: right; */
    position: relative;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 14px;
    border-right: 1px solid #999999;
    /* font: bold 12px/25px Arial, sans-serif; */
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
   
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    
    color: #515151;
 
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}

.pulsante_destra {
	/* display: inline-block; */
/*	float: right; */
    position: relative;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 14px;
    border-left: 1px solid #555555;
    /* font: bold 12px/25px Arial, sans-serif; */
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
   
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    
    color: #515151;
 
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */

}



.pulsante_centro {
	/* display: inline-block; */
/*	float: right; */
    position: relative;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 14px;
    border-left: 1px solid #555555;
    /* font: bold 12px/25px Arial, sans-serif; */
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    
    color: #515151;
 
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */

}


.pulsante_unico {
	display: inline-block;
/*    float: right; */
    position: relative;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 14px;
    border-right: 1px solid #999999;
    /* font: bold 12px/25px Arial, sans-serif; */
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
   
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    
    color: #515151;
 
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}



.pulsante_sinistra:hover, .pulsante_destra:hover, .pulsante_centro:hover, .pulsante_unico:hover {
	/* color: #19667d; */
    background: #70c9e3;
    color: #19667d;
 
    background: #70c9e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
    background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */

	cursor: pointer;
}

.swiper-container .arrow-left {
  background: url(img/arrows.png) no-repeat left top;
border: 2px solid red;  
background-size: 100% auto;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 51px;
  height: 90px;
  z-index: 100;
}
.swiper-container .arrow-right {
  background: url(img/arrows.png) no-repeat left bottom;
border: 2px solid red;  
  background-size: 100% auto;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 51px;
  height: 90px;
  z-index: 100;
}


/* il div che racchiude il singolo elemento della sequenza */
div.elemento_sequenza {
/*	display: table; */
	position: relative;
	float: left;
	height: 80px;
	border-top: 1px solid #ccc;
	width: 80%;
	padding-top: 3px;
}

/* il div che racchiude l'anteprima */
div.elemento_sequenza_interno {
	width: 80px;
	height: 45px;
	overflow: hidden;
	float: left;
	position: relative;
	margin: 3px;
	padding: 1px;
	border: 1px solid #D7D7D7;
	clear: both;
	background-size: 100% 100%;
	
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    
}

/* il div che racchiude gli elementi in sovraimpressione */
div.elemento_sovraimpressione {
	}


/* archivio */
div#messaggio_alert {
	position: relative;
	float: left;
	margin: 10px auto 10px 20px;
	color: red;
}

div#messaggio_conferma {
	position: relative;
	float: left;
	margin: 10px auto 10px 20px;
	color: green;
}

div#messaggio_stato {
	width: 90%;
	position: relative;
/*	float: left; */
	text-align: right;
	margin: 0 auto 0 auto;
	clear: both;
}




div#archivio {
	position: fixed;
	
	/* float: right; */
	width: 100%;
	margin: 0px;
	bottom: 0px;
	background-color: #222222;
	background-image: url('images/catalog_texture.jpg');
	border-top: 1px solid #999999;
	
	/* -webkit-border-radius: 5px 0px 0px 5px; */
    /* -moz-border-radius: 5px 0px 0px 5px; */
    /* border-radius: 5px 0px 0px 5px; */
		
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba (0,0,0, .44);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
    box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
}

div.elemento_archivio, div.elemento_archivio_overlay {
	
	width: 80px;
	height: 45px;
	overflow: hidden;
	float: left;
	position: relative;
	margin: 10px 15px 0px 15px;
	
	border: 1px solid #222;
	/* clear: both; */
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
}

div.elemento_archivio_overlay {
	border: none;
	z-index: 10;
	background-size: 100% 100%;
	background-color: #06AFF2;
	display: none;
	opacity: 0.9;
	margin: 0;
	cursor: pointer;
	text-align: center;
	padding-top: 8px;
}

div.elemento_archivio_overlay_titolo {
	margin-top: 3px;
	margin-left: 15px;
	width: 80px;
	height: 35px;
	position: relative;
	float: left;
	font-size: 0.7em; color: white; text-align: center;
	word-wrap: break-word;
	text-shadow: 0px 0px 2px #000000;
	line-height: 1.1em;
	z-index: 10;
}

div#archivio_gestione {
	position: fixed;
	
	/* float: right; */
	width: 100%;
	max-height: 100%;
	margin: 200px 0 0 0;
	bottom: 0px;
	background-color: #222222;
	background-image: url('images/catalog_texture.jpg');
	border-top: 1px solid #999999;
	overflow-y: scroll;
	
	/* -webkit-border-radius: 5px 0px 0px 5px; */
    /* -moz-border-radius: 5px 0px 0px 5px; */
    /* border-radius: 5px 0px 0px 5px; */
		
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba (0,0,0, .44);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
    box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
}

div.elemento_archivio_gestione_contenitore {
	position: relative;
	float: left;
	width: 20%;
	min-width: 220px;
	overflow: hidden;
	margin: 5px 0 5px 0;
	/* border: 1px solid red; */
}	
	

div.tab_selezionata {
	position: relative;
	float: left;
	padding: 3px 8px 5px 8px;
	-webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #F3F3F3; 
    color: #555;
    font-weight: 700;
    margin-left: 2px; 
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-bottom: 2px solid #F3F3F3;
    /* -webkit-box-shadow: 0px 0px 2px rgba(0,0,0, .29);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0, .29);
    box-shadow: 0px 0px 2px rgba(0,0,0, .29); */
}

div.tab_deselezionata {
	position: relative;
	float: left;
	padding: 3px 8px 5px 8px;
	-webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #D1D1D1; 
    color: white;
    margin-left: 2px;
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0, .29);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0, .29);
    box-shadow: 0px 0px 2px rgba(0,0,0, .29);
}

	
div.elemento_archivio_gestione {
	
	position: relative;
	width: 100px;
	height: 56px;
	overflow: hidden;
	margin: 5px 5px 5px 5px;
	border: 1px solid #222;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
}

div.elemento_archivio_gestione_icona  {
	position: absolute;
	right: 10px;
	top: 10px;
	text-shadow: 0px 0px 4px black;
	z-index: 1000;
}

div.elemento_archivio_gestione_descrizione {
	width: 200px;
	height: 20px;
	overflow: hidden;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8em;
	text-shadow: 0px 0px 2px black;
	z-index: 1000;
	color: #d7d7d7;
	text-align: center;
}

input, textarea {
	border: 1px solid #D7D7D7;
	clear: both;
	border-radius: 3px; 
	-moz-border-radius: 3px; /* firefox */
	-webkit-border-radius: 3px; /* safari, chrome */
	padding: 5px 5px 5px 5px;
	color: #555555;
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 700;
}

input:hover {
	cursor: pointer;
	background-color: #06AFF2;
	color: #FFF;
}

.contenitore_paragrafo {
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #d7d7d7;
	padding: 50px 0 50px 0;
}
.contenitore_paragrafo_bianco {
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #d7d7d7;
	background-color: #FFF;
	padding: 50px 0 50px 0;
}

div#payoff {
	font-size: 3em;
	/* line-height: 3em; */
	width: auto;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 20px;
}

.paragrafo {
	width: 70%;
	margin: 0 auto 0 auto;
	line-height: 1.7em;
	
	/* padding: 50px 0 50px 0; */
}

.titolo_paragrafo {
	font-size: 1.5em;
	line-height: 2em;
	color: black;
}


.icona_paragrafo {
	position: relative;
	width: auto;
	float: left;
	font-size: 16em;
	margin: 0 100px 0 0;
	color: #d7d7d7;

}

.icona_paragrafo_right {
	position: relative;
	float: right;
	font-size: 16em;
	margin: 0 0 0 100px;
	color: #d7d7d7;
}

.testo_paragrafo {
	float: left;
}

.paragrafo_centrato {
	width: auto;
	text-align: center;
}



#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.styled {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 300;
	color: #555;
	background: none;
	border: 1px solid #d7d7d7;
	height: 30px;
	border-radius: 3px; 
	-moz-border-radius: 3px; /* firefox */
	-webkit-border-radius: 3px; /* safari, chrome */
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #d7d7d7; /* rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d7d7d7; /* rgba(255,0,0,0.8); */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
    border: 1px solid #999;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #d7d7d7; /* rgba(255,0,0,0.4); */
}

.tabella_archivio {
	font-size: 0.9em;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.tabella_riga_pari {
}

.tabella_riga_dispari {
	background-color: #f3f3f3;
}
