/* archivio */
/*
div#messaggio_alert {
	position: relative;
	float: left;
	margin: 10px auto 10px 20px;
	color: red;
}

div#messaggio_conferma {
	position: relative;
	float: left;
	margin: 10px auto 10px 20px;
	color: green;
}

div#messaggio_stato {
	width: 90%;
	position: relative;
	text-align: right;
	margin: 0 auto 0 auto;
	clear: both;
}
*/


/*
div#archivio {
	position: fixed;

	width: 100%;
	margin: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #222222;
	background-image: url('images/catalog_texture.jpg');
	border-top: 1px solid #999999;
		
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba (0,0,0, .44);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
    box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
}
*/


div.elemento_archivio {
	
	width: 100px;
	height: 57px;

	float: left;
	position: relative;
	cursor: pointer;
	margin: 2px 5px 2px 0px;
	
	border: 1px solid #222;
}

/*
div.elemento_archivio_overlay {
	border: none;
	z-index: 10;
	background-size: 100% 100%;
	background-color: #06AFF2;
	display: none;
	opacity: 0.9;
	margin: 0;
	cursor: pointer;
	text-align: center;
	padding-top: 8px;
}



div.elemento_archivio_overlay_titolo {
	margin-top: 14px;
	height: 35px;
	position: relative;
	float: left;
}

div#archivio_gestione {
	position: fixed;
	width: 100%;
	max-height: 100%;
	margin: 200px 0 0 0;
	bottom: 0px;
	background-color: #222222;
	background-image: url('images/catalog_texture.jpg');
	border-top: 1px solid #999999;
	overflow-y: scroll;
		
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba (0,0,0, .44);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
    box-shadow: 0px 0px 1px rgba(0,0,0, .29), inset 0px 5px 5px rgba(0,0,0, .44);
}

div.elemento_archivio_gestione_contenitore {
	position: relative;
	float: left;
	width: 20%;
	min-width: 220px;
	overflow: hidden;
	margin: 5px 0 5px 0;
}	
	*/
/*
div.tab_selezionata {
	position: relative;
	float: left;
	padding: 3px 8px 5px 8px;
	-webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #F3F3F3; 
    color: #555;
    font-weight: 700;
    margin-left: 2px; 
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-bottom: 2px solid #F3F3F3;
}

div.tab_deselezionata {
	position: relative;
	float: left;
	padding: 3px 8px 5px 8px;
	-webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #D1D1D1; 
    color: white;
    margin-left: 2px;
    border-top: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0, .29);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0, .29);
    box-shadow: 0px 0px 2px rgba(0,0,0, .29);
}

*/
div.elemento_archivio_gestione {
	
	position: relative;
	width: 100px;
	height: 57px;
	overflow: hidden;
	margin: 5px 5px 5px 5px;
	border: 1px solid #222;
	background-color: transparent;
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
}

div.elemento_archivio_gestione_icona  {
	position: absolute;
	right: 5px;
	top: 2px;
	color: #d7d7d7;
	text-shadow: 0px 0px 4px black;
	z-index: 1000;
}

/*
div.elemento_archivio_gestione_descrizione {
	width: 200px;
	height: 20px;
	overflow: hidden;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8em;
	text-shadow: 0px 0px 2px black;
	z-index: 1000;
	color: #d7d7d7;
	text-align: center;
}
*/

span.campo_playlist {
	float: left;
	position: relative;
	overflow: hidden;
	width: auto;
	margin-right: 10px;
}


span.avviso_orario {
	font-size: 0.9em;
	color: red;
	margin-left: 20px;
	margin-top: 7px;
	float: left;
}

/*
span.messaggio_errore {
	display: none;
	color: red;
}

span.messaggio_conferma {
	display: none;
	color: green;
}
*/
/* modifiche bootstrap */


ul.pulsanti_menu {
	list-style-type: none;
	border: 1px solid red;
}

ul.pulsanti_menu li {
	position: relative;
	float: left;
}

/*
ul.dropdown-menu li {
	width: 100%;
	float: left;
	position: relative;
}
*/
/*
b.caret {
	position: relative;
	top: -5px;
}
*/

i.fa {
	min-width: 15px;
}

li i.fa {
	margin-right: 3px;
}


/* pricebox */

#price-box .price-box {
    margin: 0 auto;
	background: #E9E9E9;
	border-radius: 10px;
	padding: 40px 15px;
	width: 500px;
}

#price-box .ui-widget-content {
	border: 1px solid #bdc3c7;
	background: #e1e1e1;
	color: #222222;
	margin-top: 4px;
}

#price-box .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 5.2em;
	height: 2.2em;
	cursor: default;
	margin: 0 -40px auto !important;
	text-align: center;	
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
}

#price-box .ui-slider .ui-slider-handle .glyphicon {
	color: #FFFFFF;
	margin: 0 3px; 
	font-size: 11px;
	opacity: 0.5;
}

#price-box .ui-corner-all {
	border-radius: 20px;
}

#price-box .ui-slider-horizontal .ui-slider-handle {
	top: -.9em;
}

#price-box .ui-state-default,
#price-box .ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #3498db;
}

#price-box .ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em;
}

#price-box .ui-slider .ui-slider-handle {
	cursor: pointer;
}

#price-box #price-box .ui-slider a,
#price-box #price-box .ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

#price-box .price, #price-box .lead p {
	font-weight: 600;
	font-size: 32px;
	display: inline-block;
	line-height: 60px;
}

#price-box h4.great {
	background: #00ac98;
	margin: 0 0 25px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;
}

#price-box .total {
	border-bottom: 1px solid #7f8c8d;
	/*display: inline;
	padding: 10px 5px;*/
	position: relative;
	padding-bottom: 20px;
}

#price-box .total:before {
	content: "";
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 3px;
	background: #7f8c8d;
	opacity: 0.5;
}

#price-box .price-slider {
	margin-bottom: 70px;
}

#price-box .price-slider span {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 13px;
}

#price-box .form-pricing {
	background: #ffffff;
	padding: 20px;
	border-radius: 4px;
}

#price-box .price-form {
	background: #ffffff;
	margin-bottom: 10px;
	padding: 20px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  	-webkit-box-shadow: 0 5px 5px 0 #ccc;
  	box-shadow:         0 5px 5px 0 #ccc;*/
}

#price-box .form-group {
	margin-bottom: 0;
}

#price-box .form-group span.price {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 14px;
}

#price-box .help-text {
	display: block;
	margin-top: 32px;
	margin-bottom: 10px;
	color: #737373;
	position: absolute;
	/*margin-left: 20px;*/
	font-weight: 200;
	text-align: right;
	width: 188px;
}

#price-box .price-form label {
	font-weight: 200;
	font-size: 21px;
}

#price-box img.payment {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#price-box .ui-slider-range-min {
	background: #2980b9;
}


input[type="time"]::-webkit-clear-button {
    display: none;
}

.has-error-generic {
	border-color: red;
}

/* HR */

#price-box hr.style {
	margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

/* colorpicker */


.colorpicker-selectors i {
	width: 30px;
	height: 30px;
	margin: 2px;
}


.colorpicker-saturation, .colorpicker-hue, .colorpicker-alpha, .colorpicker-color {
	display: none !important;
}



