/* westrim.it */

.contenitore_paragrafo {
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #333;
	padding: 50px 0 50px 0;
	background-color: #111;
}

.titolo_paragrafo {
	font-size: 1.5em;
	line-height: 2em;
	color: white;
}

.contenitore_paragrafo_antracite {
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #333;
	background-color: #222;
	padding: 50px 0 50px 0;
}

.paragrafo {
	width: 70%;
	margin: 0 auto 0 auto;
	line-height: 1.7em;
	color: #999;
	
	/* padding: 50px 0 50px 0; */
}

div#payoff {
	font-size: 3em;
	/* line-height: 3em; */
	width: auto;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 20px;
	color: white;
}

.table {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

.icona_paragrafo {
	position: relative;
	width: auto;
	float: left;
	font-size: 16em;
	margin: 0 100px 0 0;
	color: #333;
}

.icona_paragrafo_right {
	position: relative;
	float: right;
	font-size: 16em;
	margin: 0 0 0 100px;
	color: #333;
}

