/* Font family e colore di sfondo */

body {
 background-color: #fcfcfc;
 font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin: 0;
}

a {
	color: #06AFF2;
}

@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}


/* Classe per applicare un margine inferiore */

.margine-bottom {margin-bottom: 20px;}

/* classe per mostrare il cursor "pointer" quando il mouse è sull'elemento */
.on_hover:hover { cursor: pointer; }



/* Stili per sovrascrivere e modificare la Navbar di Bootstrap */
.navbar {
  border: none;
  background-color: #222 !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
  border-radius: 0px;
  border-bottom: 1px solid #06AFF2;
  box-shadow: 0px 2px 5px #999;
}

.navbar-nav {
  margin-top: 0;
  
}

.navbar-brand {
 display: inline-block;
 text-indent: -9999px;
 width: 190px;
 height: 50px;
 background: url(../img/logo.png) center center no-repeat;
}

.navbar-header {
	margin-top: 5px;
}

.container-fluid > .navbar-header {
	margin-right: 20px;
}


.navbar-default {
 background-color: #fcfcfc;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #06AFF2;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #06AFF2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #06AFF2;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle {
 border: 1px solid #06AFF2;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #06AFF2;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #06AFF2;
  border-bottom-color: #06AFF2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #06AFF2;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}


@media screen and (min-width: 768px) {
 .navbar-default .navbar-nav > li > a {
  border-bottom: none;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-top: 2px solid #06AFF2;; /* #06AFF2; */
  padding-top: 13px;
}
}

/* Stili per sovrascrivere e modificare i menu dropdown di Bootstrap */

.dropdown-menu {
 padding: 0 0;
 border-radius: 0;
 -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
 padding: 7px 10px;
 border-bottom: 1px solid #ccc;
}



/* Flexslider */

.flexslider {
 margin: 0 0 30px; 
 background: #f8f8f8; 
 border: 0;
 border-top: 3px solid #06AFF2; 
 position: relative; 
 -webkit-border-radius: 0; 
 -moz-border-radius: 0; 
 -o-border-radius: 0; 
 border-radius: 0; 
}
.flex-control-paging li a {
 width: 12px; 
 height: 12px;
 padding: 2px;
 background: #06AFF2; 
 cursor: pointer; 
 text-indent: -9999px; 
 -webkit-border-radius: 20px; 
 -moz-border-radius: 20px; 
 -o-border-radius: 20px; 
 border-radius: 20px; 
 box-shadow: none;
}
.slides li {position: relative;}
.flex-caption {
 position: absolute;
 top: 35%;
 right: 8%;
}
.flex-caption-text span {
 display: inline-block;
 font-size: 34px;
 font-weight: bold;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin: 2px 0;
 padding: 0 15px;
 background-color: rgba(53, 126, 189, 0.8);
}

@media screen and (max-width: 767px) {
 .flex-control-nav, .flex-control-pager, .flex-caption {display: none;}
}

/* Sezione progetti in evidenza */

.box-progetto {
 margin-bottom: 10px;
 padding: 15px;
 background-color: #86b6de;
 -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}
.box-progetto h3, .box-progetto h4 {margin-top: 0;}

/* Stile per sovrascrivere e modificare le immagini thumbnail di Bootstrap */

.thumbnail,
.img-thumbnail {
  border-radius: 0;
  border: 1px solid #bbbbbb;
}

/* Stili per sovrascrivere e modificare i bottoni standard di Bootstrap */

.btn {
/*  border: 1px solid black; */
/*  border-radius: 0; */
}
.btn:focus {
/*  outline: 0; */
}

/* tablelle */
table.table tbody>tr>td {
	vertical-align: middle;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 3px;
    border: 0;
}

.table-condensed>thead>tr>th i.fa, .table-condensed>tbody>tr>th i.fa, .table-condensed>tfoot>tr>th i.fa, .table-condensed>thead>tr>td i.fa, .table-condensed>tbody>tr>td i.fa, .table-condensed>tfoot>tr>td i.fa {
    margin: 1px;
    max-width: 5px;
}

table.borderless tbody>tr>td {
    border: none;
}

table.table {
	margin-bottom: 0px;
}


/* margini */

.top-buffer { margin-top:20px; }


/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Progress Bar */

.progress {
	background-color: #555;
}

.progress-bar {
  background-color: #06AFF2;
}


/* Testata */

.header-sezione {
  border-bottom: 2px solid #06AFF2;
}
@media screen and (min-width: 768px) {
 .header-sezione {
 margin-left: 0;
 margin-right: 0; 
 }
}
/* Lavoro in evidenza */

.box-lavoro-evidenza {
 margin: 15px 0;
}
.box-lavoro-evidenza h3 {margin-top: 0}

/* Stile per modificare e sovrascrivere i blockquote di Bootstrap */

blockquote {
 border-left: 5px solid #06AFF2;
}


/* Pop-ups */

.modal-content {
	overflow: hidden;
	border: 1px solid #999;
}

 .modal-header {
	background-color: #222;
	color: white;
}

.modal-header button.close {
	color: #06AFF2;
	display: none;
}

.modal-footer {
	background-color: #f9f9f9;
}

/* Pannelli dell'accordion basati sui panel di Bootstrap */
/*
.panel-carousel {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-carousel-heading {
  margin: -15px -15px 15px;
  padding: 10px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #06AFF2;
  color: #fff;
  border-bottom: 1px solid #dddddd;
}
.panel-carousel-footer {
  margin: 15px -15px -15px;
  padding: 10px 15px;
  background-color: #ecf7ff;
  border-top: 1px solid #dddddd;
}

.panel-carousel-control {
  font-size: 16px;
}
.panel-carousel-control:hover,
.panel-carousel-control:focus {
  text-decoration: none;
}
*/
/* Stili per modificare e sovrascrivere le nav-tab di Bootstrap */

.nav-tabs {
  margin-top: 15px;
  border-bottom: 2px solid #06AFF2;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 0;
}
.nav-tabs > li > a {
  font-size: 14px;
  font-weight: bold;
  margin-right: 2px;
  line-height: 1.428571429;
  border: 0;
  border-radius: 5px 5px 0px 0px;
  color: #06AFF2;
}
.nav-tabs > li > a:hover {
  border-color: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #06AFF2;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-content {padding: 15px 0;}

/* Tabelle servizi */

.servizi {
 margin-top: 15px;
 text-align: center;
}
.servizi-titolo {
 background-color: #5cb85c;
}
.servizi-prezzo {
 background-color: #5cb85c;
 color: #fff;
}
.servizi-opzione {
 background-color: #dff0d8;
}
.servizi-footer {
 background-color: #eeeeee;
}

.servizi-portfolio {
 margin-top: 15px;
 text-align: center;
}
.servizi-portfolio-titolo {
 background-color: #5bc0de;
}
.servizi-portfolio-prezzo {
 background-color: #5bc0de;
 color: #fff;
}
.servizi-portfolio-opzione {
 background-color: #a4eaff;
}
.servizi-portfolio-footer {
 background-color: #eeeeee;
}

/* Pulsanti acquisto servizi */

.btn-round-bottom {
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
}

/* Footer */

footer {
 padding: 25px;
 background-color: #06AFF2;
 color: #fff;
}
footer a, footer a:hover {color: #5cb85c;}
#footer-copy {
 padding: 10px 0 0 0;
 border-top: 1px solid #fff;
}


/* Stile per modificare e sovrascrivere l'aspetto degli input di Bootstrap */

.form-control {
  height: 32px;
  padding: 6px 12px;
  color: #333333;
  border-radius: 0;
}



/* Testata portfolio */

.header-portfolio {
 background-color: #5cb85c;
 padding: 10px 15px;
 border-bottom: 2px solid #06AFF2;
}

.header-portfolio > h2 {
 margin-bottom: 0;
 margin-top: 0;
 color: #fff;
}

/* Stile per modificare e sovrascrivere l'aspetto il componente Breadcrumb di Bootstrap */

.breadcrumb {
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  font-size: 16px;
}

.breadcrumb > li + li:before {
  color: #fff;
}

.breadcrumb > .active {
  color: #fff;
}



/* Modifica del componente thumbnails per il portfolio */

.portfolio-filtro {margin-top: 15px;}

.portfolio-thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 15px 0;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #eeeeee;
  border: 1px solid #5cb85c;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.portfolio-thumbnail > img,
.portfolio-thumbnail > a > img,
.portfolio-img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.portfolio-thumbnail:hover,
.portfolio-thumbnail:focus {
  border-color: #06AFF2;
}

.portfolio-thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.portfolio-thumbnail .caption {
  padding: 9px;
  color: #333333;
}

/* Stili per sovrascrivere e modificare il componente Pagination di Bootstrap */

.pagination > li > a {
  background-color: #5cb85c;
}


.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  color: #999999;
  background-color: #eeeeee;
  border-color: #dddddd;
}


/* Titoli pagina contatti */

.contatti-titoli {
 margin-bottom: 15px;
 border-bottom: 2px solid #06AFF2;
 padding-bottom: 10px;
}

/* Stili per sovrascrivere e modificare il componente Accordion/collapse di Bootstrap */

.panel {
	overflow: hidden;
}

.panel-info {
	overflow: hidden;
}

.panel-body {
	padding: 0px;
}

/* formato input FILE */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*
Sortable
*/

.ui-sortable {
	padding: 0px;
}


ul.sortable {
	list-style-type: none;
}

.ui-state-highlight {
	height: 60px;
	width: 100%;
	float: left;
	position: relative;
}

ul.pulsanti_menu {
	list-style-type: none;
	border: 1px solid red;
}

ul.pulsanti_menu li {
	position: relative;
	float: left;
}

i.fa {
	min-width: 15px;
}

li i.fa {
	margin-right: 3px;
}


/* colorpicker */


.colorpicker-selectors i {
	width: 30px;
	height: 30px;
	margin: 2px;
}


.colorpicker-saturation, .colorpicker-hue, .colorpicker-alpha, .colorpicker-color {
	display: none !important;
}


.sortable-reorder {
	font-size: 1.5em;
	color: #ddd;
	zoom: 1.5;
}

.sortable-reorder:hover {
	color: #555;
	cursor: move;
	cursor: grab;
}

/* avvisi e messaggi di conferma */
span#emessaggio_errore {
	color: red;
}

span#emessaggio_conferma {
	color: green;
}

/* vari */

/* posiziona a sinistra il pulsante di chiusura delle finestre modali */
div.modal-footer button {
	float: left;
}

.image_layout {
	width: 250px;
	height: 140px;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#login_form {
	position: relative;
	width: 300px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 30px;
	-webkit-border-radius: 25px; 
	-moz-border-radius: 25px;
	border-radius: 25px;
	float: none;
	margin: 0 auto;
}

/* sovrascrive il colore di background del pulsante di input */
.btn-primary {
	background-color: #06aff2;
	border-color: #06aff2;
}

.btn-primary:hover {
	background-color: #222;
	border-color: #222;
}

/* archivio */

div.elemento_archivio {
	
	width: 100px;
	height: 57px;

	float: left;
	position: relative;
	cursor: pointer;
	margin: 2px 5px 2px 0px;
	
	border: 1px solid #222;
}

div.elemento_archivio_gestione {
	
	position: relative;
	width: 100px;
	height: 57px;
	overflow: hidden;
	margin: 5px 5px 5px 5px;
	border: 1px solid #222;
	background-color: transparent;
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
}

div.elemento_archivio_gestione_icona  {
	position: absolute;
	right: 5px;
	top: 2px;
	color: #d7d7d7;
	text-shadow: 0px 0px 4px black;
	z-index: 1000;
}

span.campo_playlist {
	float: left;
	position: relative;
	overflow: hidden;
	width: auto;
	margin-right: 10px;
}


span.avviso_orario {
	font-size: 0.9em;
	color: red;
	margin-left: 20px;
	margin-top: 7px;
	float: left;
}


/* pricebox */

#price-box .price-box {
    margin: 0 auto;
	background: #E9E9E9;
	border-radius: 10px;
	padding: 40px 15px;
	width: 500px;
}

#price-box .ui-widget-content {
	border: 1px solid #bdc3c7;
	background: #e1e1e1;
	color: #222222;
	margin-top: 4px;
}

#price-box .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 5.2em;
	height: 2.2em;
	cursor: default;
	margin: 0 -40px auto !important;
	text-align: center;	
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
}

#price-box .ui-slider .ui-slider-handle .glyphicon {
	color: #FFFFFF;
	margin: 0 3px; 
	font-size: 11px;
	opacity: 0.5;
}

#price-box .ui-corner-all {
	border-radius: 20px;
}

#price-box .ui-slider-horizontal .ui-slider-handle {
	top: -.9em;
}

#price-box .ui-state-default,
#price-box .ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #3498db;
}

#price-box .ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em;
}

#price-box .ui-slider .ui-slider-handle {
	cursor: pointer;
}

#price-box #price-box .ui-slider a,
#price-box #price-box .ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

#price-box .price, #price-box .lead p {
	font-weight: 600;
	font-size: 32px;
	display: inline-block;
	line-height: 60px;
}

#price-box h4.great {
	background: #00ac98;
	margin: 0 0 25px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;
}

#price-box .total {
	border-bottom: 1px solid #7f8c8d;
	/*display: inline;
	padding: 10px 5px;*/
	position: relative;
	padding-bottom: 20px;
}

#price-box .total:before {
	content: "";
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 3px;
	background: #7f8c8d;
	opacity: 0.5;
}

#price-box .price-slider {
	margin-bottom: 70px;
}

#price-box .price-slider span {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 13px;
}

#price-box .form-pricing {
	background: #ffffff;
	padding: 20px;
	border-radius: 4px;
}

#price-box .price-form {
	background: #ffffff;
	margin-bottom: 10px;
	padding: 20px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  	-webkit-box-shadow: 0 5px 5px 0 #ccc;
  	box-shadow:         0 5px 5px 0 #ccc;*/
}

#price-box .form-group {
	margin-bottom: 0;
}

#price-box .form-group span.price {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 14px;
}

#price-box .help-text {
	display: block;
	margin-top: 32px;
	margin-bottom: 10px;
	color: #737373;
	position: absolute;
	/*margin-left: 20px;*/
	font-weight: 200;
	text-align: right;
	width: 188px;
}

#price-box .price-form label {
	font-weight: 200;
	font-size: 21px;
}

#price-box img.payment {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#price-box .ui-slider-range-min {
	background: #2980b9;
}


input[type="time"]::-webkit-clear-button {
    display: none;
}

.has-error-generic {
	border-color: red;
}

/* HR */

#price-box hr.style {
	margin-top: 0;
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}




